*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #8a817c;
}

.contenedor{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}
.bloque{
    display: flex;
    flex-direction: column;
}

.caja{
    width: 25vw;
    height: auto;
    font-size: 1.7vw;
    margin-top: 2vw;
}
h3{
    font-size: 3vw;
}
.eng{
    width: 3vw;
}
.abr{
    width: 3vw;
}
.cms{
    width: 3vw;
}
.pnt{
    width: 3.5vw;
}
.crr{
    width: 3vw;
}
.tp{
    margin-top: 5vw;
}
p{
    margin-top: 1.5vw;
}
.cr{
    margin-top: 7vw;
}
h4{
    margin-top: 5vw;
    font-size: 1.7vw;
}
.abri{
    background-color: #f4f3ee;
    border-radius: 2vw;
    width: 40vw;
    height: 4vw;
    display: flex;
    margin-top: 1.2vw;
    margin-left: -1vw;
}
.abri img{
    width: 3vw;
    height: 3.5vw;
    margin-left: 1vw;
    margin-top: 0.3vw;
}
.abri p{
    margin-left: 1vw;
    margin-top: 1vw;
}
.cam{
    text-decoration: none;
    color: black;
    margin-top: 1vw;
}
.pn{
    text-decoration: none;
    color: black;
    margin-top: 1.2vw;
    margin-left: -0.5vw;
}
.cr{
    text-decoration: none;
    color: black;
}
.tp{
    text-decoration: none;
    color: black;
}
.num{
    width: 2.5vw;
    height: 2.5vw;
    background-color: #f4f3ee;
    margin: 0 auto;
    margin-top: -2.5vw;
    margin-left: 10vw;
    border-radius: 0.7vw;
}
.num p{
    margin: 0 auto;
    text-align: center;
    margin-top: 0.2vw;
}
a:hover{
    background-color: #f4f3ee;
    border-radius: 3vw;
}

.caja2{
    width: 65vw;
    height: 45vw;
    margin-top: 2vw;
    background-color: #f4f3ee;
    border-radius: 2.5vw;
    overflow: auto;
}
h1{
    font-size: 3.5vw;
    margin-left: 2vw;
    margin-top: 2vw;
}
.bloque2{
    width: 60vw;
    height: auto;
    margin: 0 auto;
    margin-top: 3vw;
}
.cajita{
    display: flex;
    justify-content: space-evenly;
}
.cajita2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4vw;
}

.ab1{
    width: 7vw;
    margin-top: 0.5vw;
    border-radius: 1.7vw;
}
.textab{
    width: 7vw;
    height: 12.7vw;
    font-size: 1.3vw;
    border-radius: 2vw;
    border: 1px solid;
    text-align: center;
    margin-top: -1.8vw;
}
.pr{
    margin-top: 0.5vw;
}
button{
    width: 5vw;
    font-size: 1vw;
    border-radius: 0.5vw;
}

.abrigo2{
    margin-top: 0.5vw;
}
.ab2{
    width: 7vw;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
    border-radius: 1.7vw;
}
.textab2{
    width: 7vw;
    height: 12.7vw;
    font-size: 1.3vw;
    border-radius: 2vw;
    border: 1px solid;
    text-align: center;
    margin-left: 0.5vw;
    margin-top: -1.8vw;
}
.pr2{
    margin-top: 0.5vw;
}
button{
    width: 5vw;
    font-size: 1vw;
    border-radius: 0.5vw;
}

.abrigo3{
    margin-top: 0.5vw;
}
.ab3{
    width: 7vw;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
    border-radius: 1.7vw;
}
.textab3{
    width: 7vw;
    height: 12.7vw;
    font-size: 1.3vw;
    border-radius: 2vw;
    border: 1px solid;
    text-align: center;
    margin-left: 0.5vw;
    margin-top: -1.8vw;
}
.pr3{
    margin-top: 0.5vw;
}
button{
    width: 5vw;
    font-size: 1vw;
    border-radius: 0.5vw;
}

.abrigo4{
    margin-top: 0.7vw;
}
.ab4{
    width: 7vw;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
    border-radius: 1.7vw;
}
.textab4{
    width: 7vw;
    height: 12.7vw;
    font-size: 1.3vw;
    border-radius: 2vw;
    border: 1px solid;
    text-align: center;
    margin-left: 0.5vw;
    margin-top: -1.8vw;
}
.pr4{
    margin-top: 0.5vw;
}
button{
    width: 5vw;
    font-size: 1vw;
    border-radius: 0.5vw;
}

.ab5{
    width: 7vw;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
    border-radius: 1.7vw;
}
.textab5{
    width: 7vw;
    height: 13.7vw;
    font-size: 1.3vw;
    border-radius: 2vw;
    border: 1px solid;
    text-align: center;
    margin-left: 0.5vw;
    margin-top: -1.8vw;
}
.pr5{
    margin-top: 0.2vw;
}
button{
    width: 5vw;
    font-size: 1vw;
    border-radius: 0.5vw;
}